/*-- scss:defaults --*/

// Import Fonts
//@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

// Base Colors
$white:         #ffffff;
$cream:         #FDFBF7;
$gray-0:        #f9f9f9;
$gray-1:        #eceeee;
$gray-2:        #dfe1e1;
$gray-3:        #d0d4d3;
$gray-4:        #c0c5c4;
$gray-5:        #aeb4b3;
$gray-6:        #99a1a0;
$gray-7:        #818b8a;
$gray-8:        #626f6d;
$gray-9:        #334240;
$dark-grey1:    #293241;
$dark-grey2:    #222222;
$black:         #000000;

// Theme Colors
$blue6:        #03045e;
$blue5:        #0077b6;
$blue4:        #4AA4DE;
$blue3:        #00b4d8;
$blue2:        #90e0ef;
$blue1:        #caf0f8;
$blue-grey2:   #3d5a80;
$blue-grey1:   #98c1d9;
$burnt-orange: #ee6c4d;

// Base document colors
$navbar-bg: $blue5; // navbar
$navbar-fg: $white; // navbar foreground elements
$navbar-hl: $white; // highlight color when hovering over navbar links
//$body-bg: $light-green; // page background 
//$body-color: $gray; // page text 
//$footer-bg: $cream; // footer 
$link-color: $blue6; // hyperlinks 

// Inline code
$code-bg: $cream; // inline code background color
$code-color: $black; // inline code text color

// Code blocks
$code-block-bg: $cream; // code block background color

// Contrast
$min-contrast-ratio:   7;

/*-- scss:rules --*/

// Headers
h1 {
  font-size: 1.8em;
  font-weight: 900;
  color: $blue5;
}

h2 {
  font-size: 1.0em;
  color: $blue5;
}

h3 {
  color: $blue6;
}

h4, h5 {
  color: $black;
}

h6 {
  color: $gray-9;
}


// CV Dates
.cv-date {
  float: right;
  color: $gray-9;
}

// Centering Panel Tabs
.panel-tabset {
      margin: 0 auto; /* This centers the element horizontally */
      max-width: 700px; /* Adjust the max-width as needed */
   }


// navbar

// Hamburger Menu: All icons in one row (Andrew Heiss's blog). Source: https://github.com/andrewheiss/ath-quarto/blob/8bad8578379a83f9aaf6cadd3bc75cb227e76f1b/html/ath.scss#L137-L140)
.navbar-nav.navbar-nav-scroll.ms-auto {
    flex-direction: row;
}

/// Title
.navbar-title{
  text-align: center;
  font-size: $font-size-base * 1.5;
}

// the line in the navbar logo
// animation defined in ek-styles.css
.icon-line {
  display: block;
  background: $blue2;
  width: 100%;
  height: 3px;
  margin: auto;
  display: table;
  margin-top: -6px;
  margin-bottom: -6px;
}

.navbar-title:hover > .icon-line {
  animation-duration: 600ms;
  animation-name: line-expand;
}

@keyframes line-expand {
  from {
    width: 0%;
  }
  
  to {
    width: 100%;
  }
}


/// Pages
.navbar-nav .nav-link {
    color: $white !important;
    border-bottom: 0px hidden $secondary;    
    margin: 0px 10px 0px 10px; 
    padding: 2px 2px 4px 2px !important;

    &:hover {
      border-bottom: 1px solid $white !important;
      padding: 2px 2px 0px 2px !important;
    }
}


// Index.qmd Links

// remove about separator
div.quarto-about-jolla .about-sep {
  height: 0;
  margin: 0;
  color: $white;
}

div.quarto-about-jolla .about-link {
  color: $blue5;
  font-size: 1em;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

div.quarto-about-jolla .about-link:hover {
  background-color: $white;
  color: $blue6;
}

// listing buttons

div.quarto-post .listing-categories .listing-category, .quarto-category, .btn {
  opacity: 0.8 !important;
  color: $secondary;
  border-color: $secondary;
  text-align: center;
  border-style: solid;
  text-decoration: none;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.btn {
  opacity: 1 !important;
  padding: 0.5em;
  border-radius: 6px;
}
div.quarto-post .listing-categories .listing-category:hover, .quarto-category:hover, .btn:hover {
  background-color: $burnt-orange;
  color: $white;
}

.listing-btn-group {
  display: inline-flex;
  gap: 1em;
}


// Code
pre.sourceCode {
  font-size: 0.9em;
}

.sourceCode pre code {
  padding: 0.9em;
}

// Footer
/// Source Code adapted from Jadey Ryan's blog: https://github.com/jadeynryan/jadey_website/blob/main/assets/styling/theme.scss

/// Footer Border
body .nav-footer {
  border-top: 1px solid $gray-1;
}

/// Footer Body
.nav-footer {
  background-color: $gray-0;
  color: $black;
}

/// Footer Middle + Links
.nav-footer a {
    color: $blue6;
    text-decoration: underline;
    &:hover {
      color: $burnt-orange;
    }
}

@media screen and (max-width: 991.98px) {

// Source: Silvia Canelon's blog source code: https://github.com/spcanelon/silvia/blob/main/assets/silvia-theme.scss

  .nav-footer {
      flex-direction: row;
    }

  .nav-footer-center {
    order: 3 !important;
    flex-basis: 100%;
    margin-top: -0.5em;
  }

  .nav-footer-right {
    order: 2 !important;
    flex-basis: 100%;
    text-align: center;
  }

  .nav-footer-left {
    order: 1 !important;
    flex-basis: 100%;
    text-align: center;
  }

  .navbar .quarto-navbar-tools {
    text-align: left;
  }
  
  div.cookie-consent-footer {
    margin-top: -0.5em;
  }

}


// Cookies 

/// Source Code adapted from Jadey Ryan's blog: https://github.com/jadeynryan/jadey_website/blob/main/assets/styling/theme.scss

// Cookie Header

/// Header Background
.termsfeed-com---palette-light .cc-pc-head{
  background-color: $blue5;
    color: $white;
}

/// Header Title Text
.termsfeed-com---palette-light .cc-pc-head-title-headline{
  color: $white;
}

/// Header Language Select Text
.termsfeed-com---palette-light .cc-pc-head-lang select {
    background-color: $blue5;
    color: $white;
}

.termsfeed-com---palette-light .cc-pc-head-close{
  color: $white;
}


// Cookie Sidebar

/// Unselected Options
.cc-cp-body .cc-cp-body-tabs-item-link, .cc-cp-body .cc-cp-body-tabs {
  background-color: $blue5;
  color: $white;
}

/// Selected Options
.termsfeed-com---palette-light .cc-cp-body-tabs-item[active=true] button {
  background-color: $blue6;
  color: $white;
}

// Cookie Body

/// Content Body Background
.termsfeed-com---palette-light .cc-cp-body-content-entry{
  background-color: $blue5;
  color: $white;
}

/// Content Body Text
.termsfeed-com---palette-light .cc-cp-body-content-entry-title, .termsfeed-com---palette-light .cc-cp-body-content-entry-text{
  color: $white;
}

/// Activation Buttons
.termsfeed-com---pc-dialog input[type=checkbox].cc-custom-checkbox:checked+label:before {
  background: $blue6;
}

// Cookie Footer

/// Footer Background
.termsfeed-com---palette-light .cc-cp-foot {
    color: $white;
    background-color: $blue5;
}

/// Footer Text
.termsfeed-com---palette-light .cc-cp-foot-byline {
    color: $white;
}

/// Preference button
.termsfeed-com---palette-light .cc-nb-okagree, .termsfeed-com---palette-light .cc-nb-reject, .cc-pc-container .cc-cp-foot-save {
  background-color: $blue5;
  border-radius: 6px;
}


// Back to Top button

#myBtn {
    position: fixed;
    bottom: 75px;
    right: 10px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgba(0, 119, 182, 0.75); /* Blue5: Start color with 75% opacity */
    color: $white;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

#myBtn:hover {
    background-color: rgba(0, 119, 182, 1); /* Blue5: Hover color with full opacity */
    color: white;
    text-decoration: underline white; /* Underline in white on hover */
}