/*-- scss:defaults --*/

// Base CSS Theme: Yeti (Bootswatch)
@import url('https://stackpath.bootstrapcdn.com/bootswatch/latest/yeti/bootstrap.min.css');

// Custom SCSS Styling

/// Adapted from Jadey Ryan's website SCSS styling: https://github.com/jadeynryan/jadey_website/blob/main/assets/styling/theme.scss

// Contrast
$min-contrast-ratio:   7;


/*-- scss:rules --*/

.navbar-title {
  font-weight: 700;
}

h1, h2 {
  font-size: 1.3em;
  font-weight: 900;
}

h2 {
  font-size: 1.2em;
}

h3, h4 {
  font-weight: 700;
}

h3 {
  font-size: 1.15em;
}

h4 {
  font-size: 1.1em;
}

h5, h6 {
  font-size: 1.05em;
  font-weight: 600;
}

.cv-date {
  float: right;
}