/*-- scss:defaults --*/

// Import Fonts
//@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

// Base Colors
$white:         #ffffff;
$cream:         #FDFBF7;
$gray-0:        #f9f9f9;
$gray-1:        #eceeee;
$gray-2:        #dfe1e1;
$gray-3:        #d0d4d3;
$gray-4:        #c0c5c4;
$gray-5:        #aeb4b3;
$gray-6:        #99a1a0;
$gray-7:        #818b8a;
$gray-8:        #626f6d;
$gray-9:        #334240;
$dark-grey1:    #293241;
$dark-grey2:    #222222;
$black:         #000000;

// Theme Colors
$blue6:        #03045e;
$blue5:        #0077b6;
$blue4:        #4AA4DE;
$blue3:        #00b4d8;
$blue2:        #90e0ef;
$blue1:        #caf0f8;
$blue-grey2:   #3d5a80;
$blue-grey1:   #98c1d9;
$burnt-orange: #ee6c4d;

// Base document colors
$navbar-bg: $blue5; // navbar
$navbar-fg: $white; // navbar foreground elements
$navbar-hl: $white; // highlight color when hovering over navbar links
//$body-bg: $light-green; // page background 
//$body-color: $gray; // page text 
//$footer-bg: $cream; // footer 
$link-color: $blue6; // hyperlinks 

// Inline code
$code-bg: $cream; // inline code background color
$code-color: $black; // inline code text color

// Code blocks
$code-block-bg: $cream; // code block background color

// Contrast
$min-contrast-ratio:   7;

/*-- scss:rules --*/

h1 {
  font-size: 1.3em;
  font-weight: 900;
  color: $blue5;
}

h2 {
  color: $blue5;
  font-size: 1.0em;
}

// Centering Panel Tabs

.panel-tabset {
      margin: 0 auto; /* This centers the element horizontally */
      max-width: 700px; /* Adjust the max-width as needed */
   }